.container {
  display: flex;
  gap: 10px;

  .left {
    border: 1px solid #000;

    .canvas {
      width: 80vw;
      height: 80vh;
    }
  }

  .right {
    border: 1px solid #000;

    .skins {
      border: 1px solid deeppink;
    }

    .animations {
      border: 1px solid greenyellow;
    }
  }
}