.container {
  display: flex;
  gap: 10px;

  .left {
    border: 1px solid #000;

    .canvas {
      width: 60vw;
      height: 1024px;
      display: block;
    }
  }

  .right {
    border: 1px solid #000;
    height: 1024px;
    overflow-y: scroll;
    padding-inline: 8px;

    .skins {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style: none;
      padding-inline-start: 0;

      > li {
        border-radius: 8px;
        border: 1px dashed transparent;
        padding-inline: 6px;

        &:hover {
          cursor: pointer;
          border-color: deeppink;
        }

        &.active {
          border-color: deeppink;
        }
      }
    }

    .animations {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      list-style: none;
      padding-inline-start: 0;

      > li {
        border-radius: 8px;
        border: 1px dashed transparent;
        padding-inline: 6px;

        &:hover {
          cursor: pointer;
          border-color: deeppink;
        }

        &.active {
          border-color: deeppink;
        }
      }
    }
  }
}